<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class="container">
            <div class="col-md-8">
                <form method="get">
                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{% url 'main:teachers' %}">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <th>Teacher</th>
                        </tr>
                        {% for teacher in allteachers %}
                            <tr>
                                <td>{{ teacher }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'main:update-teacher' teacher.username %}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
