<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class="container">
            <div class="col-md-12">
                <form method="get">
                    <div class="row">
                        <div class="col-md-5">
                            <a class="btn btn-primary" href="{% url 'main:students' %}">STUDENTS</a>
                        </div>
                        <div class="col-md-5">
                            <a class="btn btn-primary" href="{% url 'main:teachers' %}">Teachers</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <th>TeacherUsers</th>
                        </tr>
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{teacher}}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'main:groupsandstudents' teacher.username %}">GroupsAndStudents</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <th>Group</th>
                            <th>Number_of_students</th>
                            <th>AVG_age_of_students</th>
                            <th>MAX_age_of_students</th>
                            <th>MIN_age_of_students</th>
                            <th>Teacher</th>
                        </tr>
                        {% for group in groups %}
                            <tr>
                                <td>{{group.name}}</td>
                                <td>{{group.student_count}}</td>
                                <td>{{group.student_avg}}</td>
                                <td>{{group.student_max}}</td>
                                <td>{{group.student_min}}</td>
                                <td>{{group.teacher}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>

